<?xml version="1.0"?>
<!-- Persistent data store using mongodb_store 

Based on example launch file from mongodb_store but removing parts not used.
-->
<launch>
  <arg name="save_path" default="/home/arvid/persistent_data/parameters.yaml" />
  <arg name="defaults_path" default="$(find oru_ipw_launch)/config/parameter_defaults" />

  <node name="config_manager" pkg="ros_parameter_store" type="parameter_store">
    <param name="defaults_path" value="$(arg defaults_path)" />
    <param name="save_path" value="$(arg save_path)" />
    <remap from="save_param" to="/config_manager/save_param" />
  </node>

</launch>
