<?xml version="1.0"?>
<launch>
  <group ns="hrp">
    <!-- Start the driver, but skip the robot state publisher etc -->
    <include file="$(find am_driver_safe)/launch/automower_hrp.launch">
      <arg name="serial_port" value="/dev/ttyUSB0" />
      <arg name="driver_only" value="true" />
    </include>
    <node pkg="oru_ipw_utils" type="command_inverter" name="command_inverter" />
  </group>
</launch>
