<?xml version="1.0"?>
<launch>
  <group ns="hrp">
    <!-- Start the driver, but skip the robot state publisher etc -->
    <include file="$(find am_driver_safe)/launch/automower_hrp.launch">
      <arg name="serial_port" value="/dev/ttyUSB0" />
      <arg name="driver_only" value="true" />
      <arg name="GPSCheckFreq" default="0.0" />
      <arg name="sensorStatusCheckFreq" default="1" />
      <arg name="encoderSensorFreq" default="20" />
      <arg name="batteryCheckFreq" default="0.05" />
      <arg name="loopSensorFreq" default="0.0" />
      <arg name="wheelSensorFreq" default="50" />
      <arg name="regulatorFreq" default="50" />
      <arg name="setPowerFreq" default="0" />
      <arg name="pitchRollFreq" default="0.5" />
      <arg name="stateCheckFreq" default="1" />
      <arg name="baseLinkFrame" default="base_footprint" />
    </include>
    <node pkg="oru_ipw_utils" type="command_inverter" name="command_inverter" />
  </group>
</launch>
