<?xml version="1.0"?>
<!-- Launch QuickMCL localisation -->
<launch>
  <arg name="sensor_topic" default="/sensors/laser/multi_scan" />
  <arg name="output" default="screen" />
  <group ns="mcl">
    <!-- Remap some topic back to outside namespace -->
    <remap from="initialpose" to="/initialpose" />
    <remap from="map" to="/map" />
    <remap from="scan" to="$(arg sensor_topic)" />
    <!-- Include QuickMCL launch file -->
    <include file="$(find quickmcl)/launch/localiser.launch">
      <arg name="internal_laser" value="true" />
      <arg name="publish_particles" value="true" />
      <arg name="localised_frame" value="base_footprint" />
      <arg name="output" value="$(arg output)" />

      <!-- Decrease motion model noise, the platform has good odometry -->
      <arg name="motion_model_alpha_1" value="0.03" />
      <arg name="motion_model_alpha_2" value="0.03" />
      <arg name="motion_model_alpha_3" value="0.03" />
      <arg name="motion_model_alpha_4" value="0.03" />
      <arg name="particle_filter_kld_epsilon" value="0.04" />
      <arg name="particle_filter_kld_z" value="0.96" />
    </include>
  </group>
  <include file="$(find oru_ipw_maps)/launch/lab.launch" />
</launch>
