<?xml version="1.0"?>
<!-- Launch SLAM of a bag file using grid map

Once the bag file has played, run:
rosrun map_server map_saver -f <mymap>
-->
<launch>
  <arg name="bag_file" default="" />
  <arg name="rviz_enabled" default="true" />

  <param name="/use_sim_time" value="true" />

  <!-- Start velodyne packet to laser scan -->
  <include file="$(find velodyne_driver)/launch/nodelet_manager.launch">
    <arg name="model" value="VLP16" />
  </include>
  <include file="$(find velodyne_pointcloud)/launch/cloud_nodelet.launch">
    <arg name="calibration" value="$(find oru_ipw_description)/calibration/vlp16_calib.yaml" />
    <arg name="min_range" value="0.1" />
  </include>
  <include file="$(find velodyne_pointcloud)/launch/laserscan_nodelet.launch" />

  <include file="$(find oru_ipw_description)/launch/automower_robot_description.launch" />

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <param name="xmin" value="-1" />
    <param name="ymin" value="-1" />
    <param name="xmax" value="1" />
    <param name="ymax" value="1" />
  </node>

  <group if="$(arg rviz_enabled)">
    <node pkg="rviz" type="rviz" name="$(anon rviz-1)" />
  </group>

  <group if="$(eval arg('bag_file') != '')">
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -r 1.0 $(arg bag_file)"/>
  </group>

</launch>
