<?xml version="1.0"?>
<!-- Launch SLAM of a bag file using NDT
-->
<launch>
  <arg name="bag_file" default="" doc="Set to play a bag file automatically" />
  <arg name="rviz_enabled" default="true" doc="Set to false to not start rviz" />
  <arg name="output_pointcloud_topic_name" default="/fused_cloud" />
  <arg name="map_name_prefix" default="oru_lab" />

  <!-- <param name="/use_sim_time" value="true" /> -->

  <!-- Start velodyne packet to laser scan -->
  <include file="$(find oru_ipw_launch)/launch/velodyne.launch" />

  <!-- Start robot description -->
  <include file="$(find oru_ipw_description)/launch/automower_robot_description.launch" />

  <!-- start mapping node -->
  <node pkg="ndt_fuser" type="ndt_fuser_node" name="fuser_3d" output="screen">
    <param name="points_topic" value="/sensors/laser/velodyne_points" />
    <param name="matchLaser" value="false" />
    <param name="size_x_meters" value="50" />
    <param name="size_y_meters" value="50" />
    <param name="size_z_meters" value="6" />
    <param name="resolution" value="0.3" />
    <param name="sensor_range" value="25." />
    
    <!-- Specific sensor offset parameters for the example file -->
    <param name="sensor_pose_x" value="0.2087" />
    <param name="sensor_pose_y" value="0.0" />
    <param name="sensor_pose_z" value="0.63821" />
    <param name="sensor_pose_t" value="0" />

    <param name="map_directory" value="$(find oru_ipw_launch)/maps/ndt_fuser" />  
    <param name="map_name_prefix" value="$(arg map_name_prefix)" />
    
    <param name="beHMT" value="false" />
    <param name="match2D" value="true" />
    <param name="useOdometry" value="false" />
    <param name="odometry_topic" value="/hrp/odom" />
    <param name="visualize" value="true" />
    <param name="plotGTTrack" value="false" />
    <param name="initPoseFromGT" value="false" />
    <param name="gt_topic" value="/vmc_navserver/state" />
  </node>

  <group if="$(arg rviz_enabled)">
    <node pkg="rviz" type="rviz" name="$(anon rviz-1)" />
  </group>

  <group if="$(eval arg('bag_file') != '')">
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -r 1.0 $(arg bag_file)"/>
  </group>

</launch>
