<?xml version="1.0"?>
<!-- Launch SLAM of a bag file using grid map

Can also be used in online mode.

Once the bag file has played, run:
rosrun map_server map_saver -f <mymap>
-->
<launch>
  <arg name="online" default="false" doc="Set to true to run online SLAM" />
  <arg name="bag_file" default="" doc="Set to play a bag file automatically" />
  <arg name="rviz_enabled" default="true" doc="Set to false to not start rviz" />

  <param unless="$(arg online)" name="/use_sim_time" value="true" />

  <!-- Start velodyne packet to laser scan -->
  <include unless="$(arg online)" file="$(find oru_ipw_launch)/launch/velodyne.launch" />

  <!-- Start robot description -->
  <include unless="$(arg online)" file="$(find oru_ipw_description)/launch/automower_robot_description.launch" />

  <node pkg="gmapping" type="slam_gmapping" name="multi_slam" output="screen">
    <param name="xmin" value="-1" />
    <param name="ymin" value="-1" />
    <param name="xmax" value="1" />
    <param name="ymax" value="1" />
    <remap from="scan" to="/sensors/laser/multi_scan" />
  </node>

  <group if="$(arg rviz_enabled)">
    <node pkg="rviz" type="rviz" name="$(anon rviz-1)" />
  </group>

  <group if="$(eval arg('bag_file') != '')">
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -r 1.0 $(arg bag_file)" />
  </group>

</launch>
