<?xml version="1.0"?>
<!-- Launch Velodyne nodelets -->
<launch>
  <group ns="sensors/laser">
    <include file="$(find velodyne_driver)/launch/nodelet_manager.launch">
      <arg name="model" value="VLP16" />
      <arg name="rpm" value="1200" />
    </include>
    <include file="$(find velodyne_pointcloud)/launch/cloud_nodelet.launch">
      <arg name="calibration" value="$(find oru_ipw_description)/calibration/vlp16_calib.yaml" />
      <arg name="min_range" value="0.1" />
    </include>
    <include file="$(find velodyne_pointcloud)/launch/laserscan_nodelet.launch">
      <!-- Decrease resolution to reduce load -->
      <arg name="resolution" default="0.004363323129985824" />
    </include>
    <!--<node pkg="nodelet" type="nodelet" name="heightmap_nodelet"
          args="load velodyne_height_map/HeightMapNodelet velodyne_nodelet_manager">
      <param name="cell_size" value="0.1" />
      <param name="grid_dimensions" value="150" />
    </node>
    -->
    <include file="$(find velodyne_multi_laserscan)/launch/nodelet.launch">
      <arg name="min_z" value="-0.6" />
      <arg name="max_z" value="1.0" />
      <arg name="resolution" value="0.01" />
    </include>
    <group>
      <remap from="points" to="velodyne_points" />
      <include file="$(find point_cloud_subsampler)/launch/subsampler_nodelet.launch">
        <arg name="nodelet_manager" value="velodyne_nodelet_manager" />
        <arg name="resolution" value="0.15" />
        <!-- Make the radius just large enough to cover the entire local costmap (8x8 m) -->
        <arg name="max_dist" value="5.66" />
        <arg name="min_z" value="0.01" />
        <arg name="min_z_slope" value="0.01" />
      </include>
    </group>
  </group>
</launch>
