<launch>
  <!--
    Push the left frontal button labeled as 'LB' to activate cmd_vel publishing.
    Push on RB to go faster.
    Move the left stick around to control the velocity.
   -->

  <group ns="joy">
    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_node">
      <param name="enable_button" value="4"/>
      <param name="enable_turbo_button" value="5"/>
      <param name="scale_linear" value="0.4"/>
      <param name="scale_linear_turbo" value="1.0"/>
      <param name="scale_angular" value="1.2"/>
      <remap from="cmd_vel" to="/hrp/cmd_vel"/>
    </node>

    <node pkg="joy" type="joy_node" name="joystick">
      <param name="deadzone" value="0.1" />
    </node>
  </group>
</launch>
